NEXTAUTH_SECRET="1fdB7CdWnM4+xzChQG/tLBTHSF1BW+oeLmDrR2VJmQU="
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# NEXT_PUBLIC_API_URL="https://clinical-service-3sfp.onrender.com/api/v1"
NEXT_PUBLIC_API_URL="http://localhost:8888/gestiondestock/api/v1"